<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  </head>
  <body>
    <!-- Nav -->
    <nav class="nav collapsible clean">
      <a class="nav__brand" href=""><img src="images/logo.png" alt="" /></a>

      <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>

      <ul class="list nav__list collapsible__content">
        <a class="nav__brand2" href=""><img src="images/logo.png" alt="" /></a>
        <li class="nav__item"><a href="">Home</a></li>
        <li class="nav__item"><a href="">Services</a></li>
        <li class="nav__item"><a href="">Products</a></li>
        <li class="nav__item"><a href="">Contact</a></li>
      </ul>
    </nav>

    <!-- Hero -->
    <section id="hero" class="hero" data-aos="fade-right">
      <div class="grid grid--1x2 hero-content">
        <div class="hero__image">
          <!-- <img src="images/hero-left.png" alt="" /> -->
        </div>

        <div class="hero__info">
          <h1 class="hero__heading">Join Me Hero</h1>
          <p>
            You could hear a lot stupid things about me. But only stupid thing
            about me you should know is I am not Stupid. Maybe sometimes, but
            like everyone Asshole! So stup thinking about me. And start thinking
            about your mother father...
          </p>
          <button>
            <span>Buy</span>
            <div class="liquid"></div>
          </button>
        </div>
      </div>
    </section>

    <!-- About -->
    <div class="block block-light about">
      <div class="grid grid--1x2 container">
        <div class="about__info">
          <h2>We All Strong</h2>
          <p>
            We are a experienced team of devs with a solid community of holders
            from the four corners of the cryptosphere. From devs, gem hunters,
            callers and influencers…we’re all aboard. We’re not gonna tell you
            the same usual boring stuff that we are more than just a meme coin
            and blah blah blah… The only usual stuff we will say is: Buy now or
            cry later! SNOFBTC is an updated version of his daddy with a
            tokenomics that reward holders with BTCB. With our smart use of
            buybacks not only will the chart stay green but the marketcap will
            keep a nice floor, then pump to the moon. Forget the mining rig,
            simply HODL our token and you will receive BTC. How easy is that?
            PsssT! There is even more coming….stay tuned!
          </p>
        </div>
        <div class="about__img">
          <img src="/images/thor.png" alt="" />
        </div>
      </div>

      <div class="grid grid--1x2 container">
        <div class="about__img">
          <img src="/images/loki.png" alt="" />
        </div>
        <div class="about__info">
          <h2>We All Strong</h2>
          <p>
            We are a experienced team of devs with a solid community of holders
            from the four corners of the cryptosphere. From devs, gem hunters,
            callers and influencers…we’re all aboard. We’re not gonna tell you
            the same usual boring stuff that we are more than just a meme coin
            and blah blah blah… The only usual stuff we will say is: Buy now or
            cry later! SNOFBTC is an updated version of his daddy with a
            tokenomics that reward holders with BTCB. With our smart use of
            buybacks not only will the chart stay green but the marketcap will
            keep a nice floor, then pump to the moon. Forget the mining rig,
            simply HODL our token and you will receive BTC. How easy is that?
            PsssT! There is even more coming….stay tuned!
          </p>
        </div>
      </div>
    </div>
    <!-- Nft -->
    <div class="block nft">
      <h1 class="nft__heading">Here Is Our ID</h1>
      <div class="container">
        <div class="nft__content">
          <div class="nft__card">
            <img src="images/card1.jpeg" alt="">
          </div>
          <div class="nft__card">
            <img src="images/card2.jpeg" alt="">
          </div>
        </div>
        
      </div>
    </div>

    <!-- Goal -->
    <section class="block goal">
      <div class="container">
        
        <div class="goal__area">
          
          <div class="goal__mascot">
            <img class="" src="images/spiderman-web.png" alt="">
           </div>
         
           <div class="goal__block">
          
                <div class="goal__section">
                  <div class="goal__btn">
                    <span style="color: goldenrod;" class="fa-brands fa-bitcoin fa-2xl"></span>
                  </div>
                  <div class="goal__label">
                    <p>Lorem, ipsum dolor.</p>
                  </div>
                </div>
                  
                <div class="goal__section">
                  <div class="goal__btn">
                    <span style="color: goldenrod;" class="fa-brands fa-bitcoin fa-2xl"></span>
                  </div>
                  <div class="goal__label">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </div>

                <div class="goal__section">
                  <div class="goal__btn">
                    <span style="color: goldenrod;" class="fa-brands fa-bitcoin fa-2xl"></span>
                  </div>
                  <div class="goal__label">
                    <p>Lorem, ipsum dolor.</p>
                  </div>
                </div>

            </div>
        </div>
      </div>
    </div>
    </section>

    <!-- Rm -->
    <section class="block rm rm--decoration">
      <div class="container">
        <div class="rm__grid">
        <div class="grid grid--1x2 grid--end">
          <div class="rm__block">
            <div class="rm__block-section rm-block--decoration rm-block--ph">
              <h1 class="rm__header">PHASE 1</h1>
              <ul class="rm__list">
                <li>TOKEN</li>
                <li>TOKEN</li>
                <li>TOKEN</li>
                <li>TOKEN</li>
              </ul>
              <img class="rm__img" src="images/hulkbuster.jfif" alt="" />
            </div>
            <div class="rm__line rm-line--decoration"></div>
            <div class="rm__block-section rm-block--decoration rm-block--ph">
              <h1 class="rm__header">PHASE 2</h1>
              <ul class="rm__list">
                <li>TOKEN</li>
                <li>TOKEN</li>
                <li>TOKEN</li>
                <li>TOKEN</li>
              </ul>
              <img class="rm__img" src="images/hulkbuster.jfif" alt="" />
            </div>
            <div class="rm__line rm-line--decoration"></div>
            <div class="rm__block-section rm-block--decoration rm-block--ph">
              <h1 class="rm__header">PHASE 3</h1>
              <ul class="rm__list">
                <li>TOKEN</li>
                <li>TOKEN</li>
                <li>TOKEN</li>
                <li>TOKEN</li>
              </ul>
              <img class="rm__img" src="images/hulkbuster.jfif" alt="" />
            </div>
            <div class="rm__line-mid rm-line--decoration"></div>
          </div>
          <div class="rm__mascot">
            <img src="images/1.png" alt="" />
          </div>
        </div>
      
        <div class="grid grid--1x2 grid--end">
          <div class="rm__mascot">
            <img src="images/hulk.png" alt="" />
          </div>
          <div class="rm__block">
            <div class="rm__block-section rm-block--decoration rm-block--ph">
              <h1 class="rm__header">PHASE 4</h1>
              <ul class="rm__list">
                <li>TOKEN</li>
                <li>TOKEN</li>
                <li>TOKEN</li>
                <li>TOKEN</li>
              </ul>
              <img class="rm__img" src="images/hulkbuster.jfif" alt="" />
            </div>
            <div class="rm__line rm-line--decoration"></div>
            <div class="rm__block-section rm-block--decoration rm-block--ph">
              <h1 class="rm__header">PHASE 5</h1>
              <ul class="rm__list">
                <li>TOKEN</li>
                <li>TOKEN</li>
                <li>TOKEN</li>
                <li>TOKEN</li>
              </ul>
              <img class="rm__img" src="images/hulkbuster.jfif" alt="" />
            </div>
            <div class="rm__line rm-line--decoration"></div>
            <div class="rm__block-section rm-block--decoration rm-block--ph">
              <h1 class="rm__header">PHASE 6</h1>
              <ul class="rm__list">
                <li>TOKEN</li>
                <li>TOKEN</li>
                <li>TOKEN</li>
                <li>TOKEN</li>
              </ul>
              <img class="rm__img" src="images/hulkbuster.jfif" alt="" />
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- Footer -->
    <footer class="block footer footer--decoration">
      <div class="container">
        <div class="footer__btn-area">
          <button class="footer__button">
            <span><a href="https://telegram.com">TELEGRAM</a></span>
            <div class="liquid"></div>
          </button>

          <div class="footer-btn__left">
            <button class="footer__button">
              <span><a href="https://telegram.com">TWITTER</a></span>
              <div class="liquid"></div>
            </button>
            <button class="footer__button">
              <span><a href="https://telegram.com">INSTAGRAM</a></span>
              <div class="liquid"></div>
            </button>
          </div>
          <div class="footer-btn__right">
            <button class="footer__button">
              <span><a href="https://telegram.com">GITHUB</a></span>
              <div class="liquid"></div>
            </button>
            <button class="footer__button">
              <span><a href="https://telegram.com">REDDIT</a></span>
              <div class="liquid"></div>
            </button>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="scripts/main.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
